body {
    background-color: #050505;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "aw-conqueror-didot", serif;
    color: #D9F743;
}

p {
    font-family: "degular", sans-serif;
    color: #F5F1E8;
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-icon img {
    width: 30px;
}

.main-swipe {
    margin-top: 40px;
}

.logo {
    width: 245px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-picture {
    margin-top: 50px;
    text-align: center;
}

#profile-picture img {
    width: 166px;
    height: auto;
}

.parent {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* gap: 0px; */
    /* height: 100%; */
    margin-top: 100px;
}

#item-0 {
    background-color: #1D1D1D;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    width: 157px;
    height: 76px;
    margin-left: 25px;

}

#item-1 {
    background-color: #1D1D1D;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    width: 157px;
    height: 76px;
    margin-right: 25px;
}

#item-2 {
    background-color: #1D1D1D;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    width: 157px;
    height: 76px;
    margin-left: 25px;
    margin-top: -50px;
}

#item-3 {
    background-color: #1D1D1D;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    width: 157px;
    height: 76px;
    margin-right: 25px;
    margin-top: -50px;
}

/* #item-0,
#item-1,
#item-2,
#item-3 p {
   margin-top: 20px;
} */